 

 {% extends 'base.html.twig' %}
 
{% block body %}
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-header">  
        <p>Espace pour gerer l'ajout  et suppression des collectivités uniquement</p>
        
        </div>
    </div>
 {% endblock %} 
