{% extends 'base.html.twig' %}
{% block body %}
    <section class="text-center">
        <h1 class="titre">{{ title }}</h1>

        <p> Nous avons pensé que stopper son activité pour garder son enfant n'était pas envisageable pour tout le monde. <br><br>
        Ainsi est né Youpi afin de simplifier et regrouper toutes les places disponibles en collectivité, mis à jour régulierement par celles-ci.
        <br><br>
        Liste des places en crêches disponibles ici  (lien à mettre sur ici) <br> <br>
        Liste des places en centre aéré disponibles ici  (lien à mettre sur ici)
        
        <img src="https://tel.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FTEL.2Enews.2F2018.2F01.2F11.2F2ac84cd3-621d-4c80-a471-7fc663b1011f.2Ejpeg/1150x495/crop-from/top/quality/80/la-haut-est-il-possible-de-faire-s-envoler-une-maison-avec-des-ballons-video.jpg" alt="">
    <section>
{% endblock %}