{% extends 'base.html.twig' %}
{% block body %}
    <section class="text-center">
        <h1 class="titre">{{ title }}</h1>

        <p> Nous avons pensé que stopper son activité pour garder son enfant n'était pas envisageable pour tout le monde. </p> <br><br>

        <p> Ainsi est né Youpi afin de simplifier et regrouper toutes les places disponibles en collectivité, mis à jour régulierement par celles-ci.
        <br><br>
        Liste des places disponibles  <br> <br>
        Liste des places en centre aéré disponibles ici  (lien à mettre sur ici)
        
        <img src="https://tel.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FTEL.2Enews.2F2018.2F01.2F11.2F2ac84cd3-621d-4c80-a471-7fc663b1011f.2Ejpeg/1150x495/crop-from/top/quality/80/la-haut-est-il-possible-de-faire-s-envoler-une-maison-avec-des-ballons-video.jpg" height="300px" alt="">
   

   <br>
        Vous pouvez être tranquilles, nos collectivités s'occupent de vos enfants grâce à des animations enrichissantes.
        <br>
        <br>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://files.slack.com/files-pri/TPR35450V-FTSE4CVQC/img_20200119_110510.jpg" height="250px" >
                </div>
                <div class="carousel-item">
                    <img src="https://files.slack.com/files-pri/TPR35450V-FTSUHBXLY/img_20190703_173920.jpg" height="250px"  >
                </div>
                <div class="carousel-item">
                    <img src="https://files.slack.com/files-pri/TPR35450V-FTV59L0BY/img_20190712_141738.jpg" height="250px" >
                </div>
            
             <div class="carousel-item">
                    <img src="https://files.slack.com/files-pri/TPR35450V-FTE5B6K7U/img_20190716_094726.jpg" height="250px" >
            </div>
                 <div class="carousel-item">
                    <img src="https://files.slack.com/files-pri/TPR35450V-FTV5A0QUW/img_20190717_165649.jpg" height="250px" >
                </div>
                 <div class="carousel-item">
                    <img src="https://files.slack.com/files-pri/TPR35450V-FTSULB4JU/img_20190619_122920.jpg" height="250px" >
                </div></div>
       
        </div>
        
   
    <section>
{% endblock %}