{% extends 'base.html.twig' %}
{% body %}
    <div class = "card text-white bg-info mb-3" style = "max-width: 20rem;">
        <div class = "card-header"> 
            <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> {{collectivite.nom}}</font> </font> 
        </div>
        <div class = "card-body">
            
            <h4 class = "card-title"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Tranche d'age: 7 ans</font></font> </h4>
            <p class = "card-text"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> du 24 au 28 fevrier <br> Tel au :04 72 ....</font> </font> </p>
        </div>
        <hr>
        <p>Condition d'inscription</p>
        <p>Contact</p>
        
    </div>


{% endblock %}
