<form method="post" action="{{ path('collectivite_delete', {'id': collectivite.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette collectivité?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collectivite.id) }}">
    <button class="btn btn-danger">Effacer</button>
</form>
