{% extends 'base.html.twig' %}

{% block title %}Edit Collectivite{% endblock %}

{% block body %}
<div class="col-12">
    <h1>Edit Collectivite</h1>



    {{ include('collectivite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collectivite_index') }}">back to list</a>

    {{ include('collectivite/_delete_form.html.twig') }}
    
</div>

{% endblock %}
