body{
    align-content: center;
}
.titre{
    
    font-family: 'Cabin Sketch', cursive;
}

.logo{
  
    text-align: center;
    opacity: 90%;
    display:flex;
    justify-content: space-between;
    
}
.simulateur{
    text-align: center;
}
