{# Ici la page reprend le formulaire d'enregistrement des places #}
{% extends 'base.html.twig' %}
{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{  app.user.nom}}! ✅</h1>
<img src="https://us.123rf.com/450wm/jackf/jackf1802/jackf180205061/95594475-happy-children-running-with-balloons-in-hands-on-summer-sunny-field.jpg?ver=6" alt="">
<br>
    <p>Ici vous pouvez ajouter une place de votre collectivité qui est disponible</p>
    
    
   {{ form(form_place) }}
  

</div>


{% endblock %}
