{% extends 'base.html.twig' %}

{% block title %}Edit Planning{% endblock %}

{% block body %}
    <div class="container">
       <center><FONT face="Cabin Sketch" size="30">Modification du planning</FONT><BR></center>
   
        {{ include('planning/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('planning/_delete_form.html.twig') }}
       
        <button class="btn btn-dark"> <a href="{{ path('planning_index') }}">Retour</a></button>
    </div>

{% endblock %}
