{% extends 'base.html.twig' %}
{# page d'affichage des plannings #}
{% block title %}New Planning{% endblock %}

{% block body %}
  <center><FONT face="Cabin Sketch" size="30">Faire un  nouveau Planning</FONT><BR></center>
    

    {{ include('planning/_form.html.twig') }}
    <button class="btn btn-dark"> <a href="{{ path('planning_index') }}">Retour</a></button>
    
{% endblock %}
